{% extends "base.html" %}

{% block page_title %}
Search
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}
<div class="container w-1/2 mx-auto border p-6 border-gray-400 flex flex-col">
    <div>
        <h2>Search!</h2>
        <form method="get" action="{% url "rooms:search" %}">
            {{form.as_p}}
            <button class="btn-link mt-5">Search</button>
        </form>

    </div>
    <div>
        <h3>Results</h3>
        {% for room in rooms %}
        <h3><a href="{% url 'rooms:detail' room.pk %}">{{room.name}}</a></h3>
        {% endfor %}
    </div>
</div>

{% endblock content %}